.wrapper {
  overflow-x: auto;
  padding-left: var(--padding-default);
}

.scroller {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
}

.row {
  display: flex;
}

.row:nth-child(even) {
  margin-left: 14px;
}

.row + .row {
  margin-top: 16px;
}

.item {
  flex: 1 0 auto;
}

:global(.only-child) .item {
  flex-grow: 0;
}

.item + .item {
  margin-left: 16px;
}
